.Container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.Container div {
  border: 1px solid #c3c3c3;
  height: 70vh;
  width: 30%;
}

.Controls {
  display: flex;
  padding: 15px;
}

.Button {
  background-color: #dedede;
  border: none;
  margin-right: 20px;
  padding: 15px;
}

.Button:hover {
  cursor: pointer;
}

.Counter {
  padding: 15px;
}

.Names {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.Names input[type='text'] {
  margin-bottom: 10px;
  font-size: 15px;
  padding: 10px;
}

.Names .Button {
  margin: 0;
}
